@media screen and (max-width: 576px) {
  .my-container {
    width: 92%;
    margin: 0 auto;
  }
 
}
@media screen and (max-width: 610px) {
  .my-container {
    width: 92%;
    margin: 0 auto;
  }
  
}
