@media screen and (max-width: 576px) {
  .my-container {
    max-width: 520px;
    width: 80%;
    margin: 0 auto;
  }
  .description {
    font-size: 1.14rem;
  }
}
@media screen and (max-width: 610px) {
  .my-container {
    max-width: 580px;
    width: 80%;
    margin: 0 auto;
  }
  .description {
    font-size: 1.14rem;
  }
}
