@media screen and (max-width: 576px) {
  .my-container {
    width: 90%;
    margin: 0 auto;
  }
  .description {
    font-size: 1.14rem;
  }
}
@media screen and (max-width: 610px) {
  .my-container {
    width: 90%;
    margin: 0 auto;
  }
  .description {
    font-size: 1.14rem;
  }
}
