@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* Sheared styles */
body {
  font-family: Inter;
  background-color: #f5f8ff;
}
.serif-font {
  font-family: Noto Serif;
}
.my-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
nav ul li,
.footer-menu ul li {
  list-style: none;
}
nav ul li a,
.footer-menu ul li a {
  text-decoration: none;
} /* Sheared styles */

/* flower lover area */
.lover-img-section img:last-child {
  animation: spining 5s linear infinite;
}

@keyframes spining {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* flower lover area */

/* deals area */
.box-1 {
  background-image: url('../assets/deal-bloom.png');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-2 {
  background-image: url('../assets/deal-ana.png');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-3 {
  background-image: url('../assets/deal-zabo.png');
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* newsletter */
::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
}
.newsletter {
  background-image: url('../assets/news-letter-bg.png');
  background-color: #07334f66;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}/* newsletter */
